.gradio-container { 
    max-width: 1200px; 
}

.chatbox{
    height: 1000px;
}

.conversation-list { 
    height: 330px; 
    overflow-y: auto;
}

/* .image-input{
    height: 170px;
}

.audio-input{
    height: 200px;
} */